/*

!.gitignore

!bash/
!bash/*
bash/*/*
!bash/*/README.md
!bash/*/*.sh

!c/
!c/*
c/*/*
!c/*/src
c/*/src/*
!c/*/src/*.c
!c/*/src/*.h
!c/*/test
c/*/test/*
!c/*/test/vendor
c/*/test/vendor/*
!c/*/test/vendor/*.c
!c/*/test/vendor/*.h
!c/*/test/*.c
!c/*/test/*.h
!c/*/makefile
!c/*/README.md

!cfml/
!cfml/*
cfml/*/*
!cfml/*/box.json
!cfml/*/*.cfc
!cfml/*/*.cfm
!cfml/*/README.md

!clojure/
!clojure/*
clojure/*/*
!clojure/*/src
clojure/*/src/*
!clojure/*/src/*.clj
!clojure/*/test
clojure/*/test/*
!clojure/*/test/*.clj
!clojure/*/project.clj
!clojure/*/README.md

!clojurescript/
!clojurescript/*
clojurescript/*/*
!clojurescript/*/src
clojurescript/*/src/*
!clojurescript/*/src/*.cljs
!clojurescript/*/test
clojurescript/*/test/*
!clojurescript/*/test/*.cljs
!clojurescript/*/deps.edn
!clojurescript/*/README.md

!coffeescript/
!coffeescript/*
coffeescript/*/*
!coffeescript/*/*.coffee
!coffeescript/*/README.md

!common-lisp/
!common-lisp/*
common-lisp/*/*
!common-lisp/*/*.lisp
!common-lisp/*/README.md

!cpp/
!cpp/*
cpp/*/*
!cpp/*/test
cpp/*/test/*
!cpp/*/test/*.hpp
!cpp/*/test/*.cpp
!cpp/*/CMakeLists.txt
!cpp/*/*.cpp
!cpp/*/*.h
!cpp/*/README.md

!crystal/
!crystal/*
crystal/*/*
!crystal/*/spec
crystal/*/spec/*
!crystal/*/spec/*.cr
!crystal/*/src
crystal/*/src/*
!crystal/*/src/*.cr
!crystal/*/README.md

!csharp/
!csharp/*
csharp/*/*
!csharp/*/*.editorconfig
!csharp/*/*.cs
!csharp/*/*.csproj
!csharp/*/README.md

!d/
!d/*
d/*/*
!d/*/source
d/*/source/*
!d/*/source/*.d
!d/*/dub.sdl
!d/*/README.md

!dart/
!dart/*
dart/*/*
!dart/*/lib
dart/*/lib/*
!dart/*/lib/*.dart
!dart/*/test
dart/*/test/*
!dart/*/test/*.dart
!dart/*/analysis_options.yaml
!dart/*/pubspec.yaml
!dart/*/README.md

!elixir/
!elixir/*
elixir/*/*
!elixir/*/lib
elixir/*/lib/*
!elixir/*/lib/*.ex
!elixir/*/test
elixir/*/test/*
!elixir/*/test/*.exs
!elixir/*/*.exs
!elixir/*/README.md

!elm/
!elm/*
elm/*/*
!elm/*/src
elm/*/src/*
!elm/*/src/*.elm
!elm/*/tests
elm/*/tests/*
!elm/*/tests/*.elm
!elm/*/README.md

!emacs-lisp/
!emacs-lisp/*
emacs-lisp/*/*
!emacs-lisp/*/*.el
!emacs-lisp/*/README.md

!erlang/
!erlang/*
erlang/*/*
!erlang/*/src
erlang/*/src/*
!erlang/*/src/*.src
!erlang/*/src/*.erl
!erlang/*/test
erlang/*/test/*
!erlang/*/test/*.erl
!erlang/*/rebar.config
!erlang/*/README.md

!fsharp/
!fsharp/*
fsharp/*/*
!fsharp/*/.config
fsharp/*/.config/*
!fsharp/*/.config/dotnet-tools.json
!fsharp/*/*.fs
!fsharp/*/*.fsproj
!fsharp/*/README.md

!go/
!go/*
go/*/*
!go/*/go.mod
!go/*/*.go
!go/*/README.md

!groovy/
!groovy/*
groovy/*/*
!groovy/*/gradle
groovy/*/gradle/*
!groovy/*/gradle/wrapper
groovy/*/gradle/wrapper/*
!groovy/*/gradle/wrapper/gradel-wrapper.jar
!groovy/*/gradle/wrapper/gradel-wrapper.properties
!groovy/*/src
groovy/*/src/*
!groovy/*/src/main
groovy/*/src/main/*
!groovy/*/src/main/groovy
groovy/*/src/main/groovy/*
!groovy/*src/main/groovy/*.groovy
!groovy/*/src/test
groovy/*/src/test/*
!groovy/*/src/test/groovy
groovy/*/src/test/groovy/*
!groovy/*src/test/groovy/*.groovy
!groovy/*/gradlew
!groovy/*/gradlew.bat
!groovy/*/README.md

!haskell/
!haskell/*
haskell/*/*
!haskell/*/src
haskell/*/src/*
!haskell/*/src/*.hs
!haskell/*/test
haskell/*/test/*
!haskell/*/test/*.hs
!haskell/*/package.yaml
!haskell/*/stack.yaml
!haskell/*/README.md

!java/
!java/*
java/*/*
!java/*/src
java/*/src/*
!java/*/src/main
java/*/src/main/*
!java/*/src/main/java
java/*/src/main/java/*
!java/*/src/main/java/*.java
!java/*/src/test
java/*/src/test/*
!java/*/src/test/java
java/*/src/test/java/*
!java/*/src/test/java/*.java
!java/*/build.gradle
!java/*/README.md
!java/*/TUTORIALmd

!javascript/
!javascript/*
javascript/*/*
!javascript/*/.eslintrc
!javascript/*/.npmrc
!javascript/*/*.js
!javascript/*/package.json
!javascript/*/README.md

!julia/
!julia/*
julia/*/*
!julia/*/*.ipynb
!julia/*/*.jl
!julia/*/README.md

!kotlin/
!kotlin/*
kotlin/*/*
!kotlin/*/gradle
kotlin/*/gradle/*
!kotlin/*/gradle/wrapper
kotlin/*/gradle/wrapper/*
!kotlin/*/gradle/wrapper/gradel-wrapper.jar
!kotlin/*/gradle/wrapper/gradel-wrapper.properties
!kotlin/*/src
kotlin/*/src/*
!kotlin/*/src/main
kotlin/*/src/main/*
!kotlin/*/src/main/kotlin
kotlin/*/src/main/kotlin/*
!kotlin/*src/main/kotlin/*.kt
!kotlin/*/src/test
kotlin/*/src/test/*
!kotlin/*/src/test/kotlin
kotlin/*/src/test/kotlin/*
!kotlin/*src/test/kotlin/*.kt
!kotlin/*/gradlew
!kotlin/*/gradlew.bat
!kotlin/*/README.md
!kotlin/*/TUTORIAL.md
!kotlin/*/build.gradle.kts

!lfe/
!lfe/*
lfe/*/*
!lfe/*/src
lfe/*/src/*
!lfe/*/src/*.src
!lfe/*/src/*.lfe
!lfe/*/test
lfe/*/test/*
!lfe/*/test/*.lfe
!lfe/*/rebar.config
!lfe/*/README.md
!lfe/*/Makefile
!lfe/*/rebar.lock
!lfe/*/.gitignore

!lua/
!lua/*
lua/*/*
!lua/*/.busted
!lua/*/*.lua
!lua/*/README.md

!mips/
!mips/*
mips/*/*
!mips/*/README.md
!mips/*/*.mips

!nim/
!nim/*
nim/*/*
!nim/*/*.nim
!nim/*/README.md

!objective-c/
!objective-c/*
objective-c/*/*
!objective-c/*/*.h
!objective-c/*/*.m
!objective-c/*/README.md

!ocaml/
!ocaml/*
ocaml/*/*
!ocaml/*/dune
!ocaml/*/dune-project
!ocaml/*/*.ml
!ocaml/*/*.mli
!ocaml/*/Makefile
!ocaml/*/README.md

!perl5/
!perl5/*
perl5/*/*
!perl5/*/*.t
!perl5/*/*.pm
!perl5/*/README.md

!pharo-smalltalk/
!pharo-smalltalk/*
pharo-smalltalk/*/*
!pharo-smalltalk/*/*.st
!pharo-smalltalk/*/README.md

!php/
!php/*
php/*/*
!php/*/*.php
!php/*/README.md

!plsql/
!plsql/*
plsql/*/*
!plsql/*/*.plsql
!plsql/*/README.md

!prolog/
!prolog/*
prolog/*/*
!prolog/*/*.plt
!prolog/*/*.pl
!prolog/*/README.md

!purescript/
!purescript/*
purescript/*/*
!purescript/*/bower.json
!purescript/*/README.md
!purescript/*/src
purescript/*/src/*
!purescript/*/src/*.purs
!purescript/*/test/
purescript/*/test/*
!purescript/*/test/*.purs

!python/
!python/*
python/*/*
!python/*/*.py
!python/*/README.md

!r/
!r/*
r/*/*
!r/*/*.R
!r/*/README.md

!racket/
!racket/*
racket/*/*
!racket/*/*.rkt
!racket/*/README.md

!raku/
!raku/*
raku/*/*
!raku/*/*.t6
!raku/*/*.pm6
!raku/*/README.md

!reasonml/
!reasonml/*
reasonml/*/*
!reasonml/*/_tests_
reasonml/*/_tests_/*
!reasonml/*/_tests_/*.re
!reasonml/*/bsconfig.json
!reasonml/*/package-lock.json
!reasonml/*/package.json
!reasonml/*/README.md
!reasonml/*/src
reasonml/*/src/*
!reasonml/*/src/*.re
!reasonml/*/src/*.rei

!ruby/
!ruby/*
ruby/*/*
!ruby/*/GETTING_STARTED.md
!ruby/*/*.rb
!ruby/*/README.md

!rust/
!rust/*
rust/*/*
!rust/*/.gitignore
!rust/*/Cargo.toml
!rust/*/GETTING_STARTED.md
!rust/*/README.md
!rust/*/src
rust/*/src/*
!rust/*/src/*.rs
!rust/*/tests
rust/*/tests/*
!rust/*/tests/*.rs

!scala/
!scala/*
scala/*/*
!scala/*/build.sbt
!scala/*/README.md
!scala/*/src
scala/*/src/*
!scala/*/src/main
scala/*/src/main/*
!scala/*/src/main/scala
scala/*/src/main/scala/*
!scala/*/src/main/scala/*.scala
!scala/*/src/test
scala/*/src/test/*
!scala/*/src/test/scala
scala/*/src/test/scala/*
!scala/*/src/test/scala/*.scala

!scheme/
!scheme/*
scheme/*/*
!scheme/*/*.scm
!scheme/*/Makefile
!scheme/*/README.md

!sml/
!sml/*
sml/*/*
!sml/*/*.sml
!sml/*/README.md

!swift/
!swift/*
swift/*/*
!swift/*/.gitignore
!swift/*/Package.swift
!swift/*/README.md
!swift/*/Sources
swift/*/Sources/*
!swift/*/Sources/*/*
swift/*/Sources/*/*
!swift/*/Sources/*/*.swift
!swift/*/Tests
swift/*/Tests/*
!swift/*/Tests/*/*
swift/*/Tests/*/*
!swift/*/Tests/*/*.swift
!swift/*/Tests/*.swift

!tcl/
!tcl/*
tcl/*/*
!tcl/*/*.tcl
!tcl/*/*.test
!tcl/*/README.md

!typescript/
!typescript/*
typescript/*/*
!typescript/*/.eslintrc
!typescript/*/*.ts
!typescript/*/jest.config.js
!typescript/*/package.json
!typescript/*/README.md
!typescript/*/tsconfig.json
!typescript/*/yarn.lock

!vimscript/
!vimscript/*
vimscript/*/*
!vimscript/*/*.vader
!vimscript/*/*.vim
!vimscript/*/README.md

!x86-64-assembly/
!x86-64-assembly/*
x86-64-assembly/*/*
!x86-64-assembly/*/.gitignore
!x86-64-assembly/*/*.c
!x86-64-assembly/*/*.asm
!x86-64-assembly/*/Makefile
!x86-64-assembly/*/README.md
!x86-64-assembly/*/vendor
x86-64-assembly/*/vendor/*
!x86-64-assembly/*/vendor/*.h
!x86-64-assembly/*/vendor/*.c

**/.DS_Store